.panel-title{font-weight:500;}

/* ============================================ *
 * Accordion Style-01
 * ============================================ */
.chead-accordion01 .panel{border:1px solid #e6e6e6;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
.chead-accordion01 .panel-heading{background-color:transparent;padding:0;position:relative;}
.chead-accordion01 .panel-heading:before{content:"";width:3px;position:absolute;top:0px;bottom:0px;left:0px;background-color:#86bc42;}
.chead-accordion01 .panel-body{border-color:#e6e6e6;}
.chead-accordion01 .panel-body{padding:24px 18px 18px 19px;}
.chead-accordion01 .panel-heading a{display:block;color:#222;padding:18px 54px 17px 20px;font-size:15px;margin:-1px -1px 0;}
.chead-accordion01 .panel-heading h4{margin:0;}
.chead-accordion01 .panel-heading a.collapsed{color:#222;background-color:transparent;}
.chead-accordion01 .panel-heading a:hover,.chead-accordion01 .panel-heading a{background-color:#86bc42;color:#fff;text-decoration:none;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;-ms-transition:all ease-in 200ms;}
.chead-accordion01 .panel+.panel{margin-top:14px;}
.chead-accordion01 .panel-heading .arrow{position:absolute;top:0;right:0;height:100%;width:50px;border-left:1px solid #eee;}
.chead-accordion01 .panel-heading .arrow:after{content:"";width:0;height:0px;position:absolute;top:50%;left:50%;margin:-2px 0 0 -5px;border-top:5px solid #FFF;border-left:5px solid transparent;border-right:5px solid transparent;transition:all ease-in 200ms;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;-ms-transition:all ease-in 200ms;}
.chead-accordion01 .panel-heading a.collapsed .arrow:after{transform:rotate(-90deg);-webkit-transform:rotate(-90deg);}
.chead-accordion01 .panel-heading a.collapsed .arrow:after{border-top-color:#494949;}

/* ============================================ *
 * Accordion Style-02
 * ============================================ */
.chead-accordion02 .panel{border:none;}
.chead-accordion02 .panel-heading{background-color:#fbfbfb;padding:0;position:relative;}
.chead-accordion02 .panel-body{padding:24px 18px 21px 19px;}
.chead-accordion02 .panel-heading a{display:block;color:#222;padding:18px 23px 17px 20px;font-size:15px;margin:0;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.chead-accordion02 .panel-heading a .fa{margin-right:12px;font-size:1.2em;display:inline-block;vertical-align:middle;}
.chead-accordion02 .panel-heading h4{margin:0;}
.chead-accordion02 .panel-heading a.collapsed{color:#222;background-color:transparent;}
.chead-accordion02 .panel-heading a:hover,.chead-accordion02 .panel-heading a{background-color:#86bc42;color:#fff;text-decoration:none;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;-ms-transition:all ease-in 200ms;}
.chead-accordion02 .panel+.panel{margin-top:14px;}
.chead-accordion02 .panel-heading .arrow{position:absolute;top:0;right:0;height:100%;width:40px;}
.chead-accordion02 .panel-heading .arrow:after{content:"";width:7px;height:7px;position:absolute;top:50%;left:50%;margin:-3px 0 0 -4px;border-right:1px solid #ffffff;border-bottom:1px solid #ffffff;transition:all ease-in 200ms;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;-ms-transition:all ease-in 200ms;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.chead-accordion02 .panel-heading .collapsed:hover .arrow:after{border-right-color:#ffffff;border-bottom-color:#ffffff;}
.chead-accordion02 .panel-heading a.collapsed .arrow:after{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);border-right-color:#5b5b5b;border-bottom-color:#5b5b5b;}

/* ============================================ *
 * Accordion Style-03
 * ============================================ */
.chead-accordion03 .panel{border:none;background-color:transparent;}
.chead-accordion03 .panel-heading{background-color:transparent;padding:0;position:relative;border-bottom:1px solid #e4e7ea;}
.chead-accordion03 .panel-body{padding:7px 18px 3px 32px;background-color:transparent;}
.chead-accordion03 .panel-heading a{display:block;color:#222;padding:18px 18px 17px 32px;font-size:15px;margin:0;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.chead-accordion03 .panel-heading h4{margin:0;}
.chead-accordion03 .panel-heading a.collapsed{color:#222;background-color:transparent;}
.chead-accordion03 .panel-heading a:hover,.chead-accordion03 .panel-heading a{background-color:transparent;color:#222;text-decoration:none;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;transition:all ease-in 200ms;}
.chead-accordion03 .panel+.panel{background-color:transparent;margin:0;}
.chead-accordion03 .panel-heading .arrow{position:absolute;top:50%;left:0;background-color:#818181;width:16px;height:16px;margin-top:-8px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.chead-accordion03 .panel-heading .collapsed .arrow{background-color:#86bc42;}
.chead-accordion03 .panel-heading .arrow:after{content:"";position:absolute;top:50%;left:50%;width:10px;height:2px;background-color:#FFF;margin:-1px 0 0 -5px;transition:all ease-in 200ms;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;-ms-transition:all ease-in 200ms;}
.chead-accordion03 .panel-heading .arrow:before{content:"";position:absolute;top:50%;left:50%;height:10px;width:2px;background-color:#FFF;margin:-5px 0 0 -1px;display:none;transition:all ease-in 200ms;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;-ms-transition:all ease-in 200ms;}
.chead-accordion03 .panel-heading a.collapsed .arrow:before{display:block;}

/* ============================================ *
 * Accordion Style-04
 * ============================================ */
.chead-accordion04 .panel-heading{border:1px solid #eceff1;background-color:transparent;padding:0;position:relative;}
.chead-accordion04 .panel,.chead-accordion04 .panel-body{border:none!important;}
.chead-accordion04 .panel-body{padding:18px 0px 0px 16px;}
.chead-accordion04 .panel-heading a{display:block;color:#222;padding:12px 23px 11px 54px;font-size:15px;}
.chead-accordion04 .panel-heading h4{margin:0;}
.chead-accordion04 .panel-heading a.collapsed{color:#222;}
.chead-accordion04 .panel-heading a:hover,.chead-accordion04 .panel-heading a{color:#86bc42;text-decoration:none;}
.chead-accordion04 .panel+.panel{margin-top:18px;}
.chead-accordion04 .panel-heading .arrow{position:absolute;top:0;left:0;height:100%;width:40px;border-right:1px solid #ebeef0;}
.chead-accordion04 .panel-heading .arrow:after{content:"";width:2px;height:14px;background:#fff;position:absolute;top:50%;left:50%;margin:-7px 0 0 -1px;z-index:1;opacity:0;transition:all ease-in 200ms;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;-ms-transition:all ease-in 200ms;}
.chead-accordion04 .panel-heading .arrow:before{content:"";width:14px;height:2px;background:#86bc42;position:absolute;top:50%;left:50%;margin:-1px 0 0 -7px;z-index:1;transition:all ease-in 200ms;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;-ms-transition:all ease-in 200ms;}
.chead-accordion04 .panel-heading a.collapsed .arrow:before, .chead-accordion04 .panel-heading a.collapsed .arrow:after{background:#333;opacity:1;}
.chead-accordion04 .panel-heading a.collapsed:hover .arrow:before,.chead-accordion04 .panel-heading a.collapsed:hover .arrow:after{background:#86bc42;}

/* ============================================ *
 * Accordion Style-05
 * ============================================ */
.chead-accordion05 .panel-heading{border:1px solid #eceff1;background-color:#fbfbfb;padding:0;position:relative;}
.chead-accordion05 .panel,.chead-accordion05 .panel-body{border:none!important;}
.chead-accordion05 .panel-body{padding:18px 0px 0px 16px;}
.chead-accordion05 .panel-heading a{display:block;color:#222;padding:12px 23px 11px 54px;font-size:15px;}
.chead-accordion05 .panel-heading h4{margin:0;}
.chead-accordion05 .panel-heading a.collapsed{color:#222;}
.chead-accordion05 .panel-heading a:hover,.chead-accordion05 .panel-heading a{color:#86bc42;text-decoration:none;}
.chead-accordion05 .panel+.panel{margin-top:18px;}
.chead-accordion05 .panel-heading .arrow{position:absolute;top:50%;left:19px;width:16px;height:16px;background-color:#86bc42;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;margin-top:-8px;transition:all ease-in 200ms;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;-ms-transition:all ease-in 200ms;}
.chead-accordion05 .panel-heading a.collapsed:hover .arrow{background-color:#86bc42;}
.chead-accordion05 .panel-heading a.collapsed .arrow{background-color:#818181;}
.chead-accordion05 .panel-heading .arrow:after{content:"";width:2px;height:8px;background:#ffffff;position:absolute;top:50%;left:50%;margin:-4px 0 0 -1px;z-index:1;opacity:0;transition:all ease-in 200ms;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;-ms-transition:all ease-in 200ms;}
.chead-accordion05 .panel-heading .arrow:before{content:"";width:8px;height:2px;background:#ffffff;position:absolute;top:50%;left:50%;margin:-1px 0 0 -4px;z-index:1;transition:all ease-in 200ms;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;-ms-transition:all ease-in 200ms;}
.chead-accordion05 .panel-heading a.collapsed .arrow:before, .chead-accordion05 .panel-heading a.collapsed .arrow:after{background:#ffffff;opacity:1;}
.chead-accordion05 .panel-heading a.collapsed:hover .arrow:before,.chead-accordion05 .panel-heading a.collapsed:hover .arrow:after{background:#ffffff;}

/* ============================================ *
 * Accordion Style-06
 * ============================================ */
.chead-accordion06 .panel{border:none;}
.chead-accordion06 .panel-heading{background-color:#f5f5f5;padding:0;position:relative;}
.chead-accordion06 .panel-body{padding:24px 40px 0 40px;}
.chead-accordion06 .panel-heading a{display:block;color:#222;padding:12px 23px 11px 40px;font-size:15px;margin:0;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.chead-accordion06 .panel-heading a .fa{margin-right:12px;font-size:1.2em;display:inline-block;vertical-align:middle;}
.chead-accordion06 .panel-heading h4{margin:0;}
.chead-accordion06 .panel-heading a.collapsed{color:#333;background-color:transparent;}
.chead-accordion06 .panel-heading a:hover,.chead-accordion06 .panel-heading a{background-color:#86bc42;color:#fff;text-decoration:none;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;-ms-transition:all ease-in 200ms;}
.chead-accordion06 .panel+.panel{margin-top:14px;}
.chead-accordion06 .panel-heading .arrow{position:absolute;top:0;left:0;height:100%;width:40px;}
.chead-accordion06 .panel-heading .arrow:after{content:"";width:7px;height:7px;position:absolute;top:50%;left:50%;margin:-4px 0 0 -4px;border-right:1px solid #ffffff;border-bottom:1px solid #ffffff;transition:all ease-in 200ms;-moz-transition:all ease-in 200ms;-webkit-transition:all ease-in 200ms;-o-transition:all ease-in 200ms;-ms-transition:all ease-in 200ms;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.chead-accordion06 .panel-heading .collapsed:hover .arrow:after{border-right-color:#ffffff;border-bottom-color:#ffffff;}
.chead-accordion06 .panel-heading a.collapsed .arrow:after{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);border-right-color:#5b5b5b;border-bottom-color:#5b5b5b;}

@media only screen and (max-width:767px){
	.chead-accordion06 .panel-body{padding:15px;}
	.chead-accordion06 .panel-heading a{padding:12px 15px 11px 40px;}
}
